* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
footer {
  background-color: #1bad9c;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}
.social-icon {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-icon a i {
  font-size: 1.2rem;
  margin: 0 10px;
  color: #ffffff;

  transition: all 0.5s;
}
.social-icon a i:hover {
  color: black;
  transform: scale(1.5);
}
.copyright {
  padding: 15px 10px;
  text-align: center;
  font-size: 16px;
  color: #ffffff;
}
