    /* ---------------- OUR TEAM SECTION -------------------*/
    
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    .teams-title {
        font-size: 1.5em;
        text-align: center;
        margin: 30px 0;
    }
    
    .all-team-members {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .member-wrapper {
        text-align: center;
        width: 40%;
        /* margin: 50px; */
        margin-bottom: 30px;
        border-radius: 16px;
        border: 0.1px solid #aaa9a9;
        background-color: #E9EFF4;
        box-shadow: 5px 10px #c0bfbf;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .team-member {
        margin: 20px;
        text-align: center;
        background-color: #E9EFF4;
    }
    
    .team-member .member-avatar {
        align-self: center;
        margin: 20px;
        width: 50%;
        height: 50%;
        border-radius: 50%;
        background-color: #C4C4C4;
    }
    
    .team-member .member-avatar img {
        width: 100%;
        height: 100%;
        border-radius: 100%;
    }
    
    .team-member .team-member-info {
        display: flex;
        justify-content: space-between;
        margin: 0 20px;
        height: 65%;
    }
    
    .team-member-info .member-title {
        display: flex;
        align-self: center;
        flex-direction: column;
        color: #1BAD9C;
        align-items: flex-start;
    }
    
    .member-contact-social {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100px;
    }
    
    .member-social {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    
    .member-contact-social p {
        align-self: flex-start;
        margin-left: 20px;
    }
    
    .memeber-social {
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
    
    .memeber-social li a {
        text-decoration: none;
        color: #3A3A3A;
    }
    
    .memeber-social li a:visited {
        color: #3A3A3A;
    }
    
    hr {
        width: 80%;
        border: none;
        border-top: 2px solid #d9d9d9;
        margin: 30px auto;
    }
    
    #link-dot {
        color: #3A3A3A;
    }
    /* ************ MOBILE SITE ************ */
    
    @media (max-width: 900px) {
        .teams-title {
            font-size: 1.5em;
            text-align: center;
        }
        .all-team-members {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .member-wrapper {
            text-align: center;
            width: 70%;
            border-radius: 16px;
            border: 0.1px solid #aaa9a9;
            background-color: #E9EFF4;
            box-shadow: 5px 10px #c0bfbf;
        }
        .team-member {
            text-align: center;
            background-color: #E9EFF4;
        }
        .team-member .member-avatar img {
            display: inline-block;
            width: 100%;
            height: 100%;
            border-radius: 100%;
        }
        .team-member .team-member-info {
            flex-direction: column;
            justify-content: space-between;
        }
        .team-member-info .member-title {
            display: block !important;
            flex-direction: column;
            text-align: center;
        }
        .member-contact-social {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 100px;
        }
        .member-social {
            display: flex;
            flex-direction: row;
            width: 100%;
        }
        .member-contact-social p {
            align-self: center;
            font-size: larger;
        }
        .memeber-social li a {
            text-decoration: none;
            color: #3A3A3A;
        }
        .memeber-social li a:visited {
            color: #3A3A3A;
        }
        hr {
            width: 80%;
            border: none;
            border-top: 2px solid #d9d9d9;
            margin: 30px auto;
        }
        .team-member .memeber-social {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        .memeber-social {
            display: flex;
        }
        .memeber-social li {
            font-size: medium;
        }
        .social p {
            font-weight: bold;
        }
        #link-dot {
            display: none;
        }
    }
    
    @media (max-width: 599px) {
        .member-wrapper {
            width: 100%;
        }
        .team-member {
            width: 90%;
        }
        .team-member .member-avatar {
            width: 70%;
        }
        .member-title {
            width: 100%;
        }
        .member-title h1 {
            font-size: 16px;
            width: 100%;
        }
        .member-title h3 {
            font-size: 14px;
            width: 100%;
        }
        .memeber-social {
            /* display: inline-block !important; */
            /* width: 100px !important; */
        }
    }
    
    @media (max-width: 425px) {
        .memeber-social {
            flex-direction: column;
            font-size: 0.5rem;
        }
        .member-contact-social p {
            font-weight: 900;
            font-size: 0.7rem;
        }
    }